version: "3.7"

services:
  frontend:
    build:
      context: .
      args:
        MAPBOX_API_KEY: ""
        MAPBOX_STYLE_URL: "mapbox://styles/mapbox/dark-v10"
        MAP_DEFAULT_CENTER_LATITUDE: 0.000000
        MAP_DEFAULT_CENTER_LONGITUDE: 0.000000
        MAP_DEFAULT_ZOOM_LEVEL: 1
        START_POINTS_RADIUS_LIMIT: 0
        ACTIVITY: ""
        FILENAME_FILTER: "*.tcx"
    image: endomondo-mapbox-router
    ports:
      - "8080:80"

